$darkslategray: #2d3739;
$khaki: #f0cb48;

$button-font-color: $darkslategray;
$datetime-font-color: #cccccc;
$draw-font-color: $khaki;
$group-name-font-color: #333333;
$header-font-color: $khaki;
$page-font-color: #ffffff;
$result-font-color: $khaki;

$button-active-background-color: $darkslategray;
$draw-background-color: #3e3f3e;
$group-football-background-color: #74a977;
$group-hockey-background-color: #79aaca;
$match-background-color: #555557;
$page-background-color: $darkslategray;

$big-group-border-color: #232323;
$button-border-color: #6f6f71;
$head-border-top-color: #61696b;

$button-active-outline-color: #66ccff;
$draw-outline-color: #353d3f;

$preview-mask-color: rgba(65, 75, 77, .6);
$shadow-mask-color: rgba(53, 61, 63, .5);

$arrow-color: #656565;
