mixin page-header
  header.page-header
    a.page-header__logo(href="#")
      img.page-header__img(src="img/content/logo.png" width="200" height="32")
    .page-header__user
      .page-header__user-info
        p.page-header__name Maxim Maxim
        p.page-header__account 2 450 000
      a.page-header__avatar
